<a href="https://colab.research.google.com/github/adib0073/Educative_SSDS_course/blob/main/notebooks/EDA_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set(style="whitegrid")

### Downloading data and loading data as a data frame

In [2]:
!curl -O https://raw.githubusercontent.com/adib0073/Educative_SSDS_course/main/data/heart_disease.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 11076  100 11076    0     0  85860      0 --:--:-- --:--:-- --:--:-- 85860

In [3]:
data = pd.read_csv("heart_disease.csv")
data.head()

,age,gender,chest_pain_type,resting_bp,cholestoral,fasting_blood_sugar,restecg,max_hr,exang,oldpeak,slope,num_major_vessels,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1